
.deltaAlertsRow {
    margin-top: 20px
}

.traceDropdownDemoLabel {
    display: inline;
}

.intrusionStateInfo{
    margin-top:40px
}

.defenderPolicyPlotSlider {
    margin-top:7px;
}

.defenderPolicyPlotSliderLabel {
    margin-top:0px;
}