.startButton {
    margin-left:15px
}

.startStopIcon {
    font-size: 20px;
}

.toolTipRefresh {
    font-size: 20px;
}

.removeButton {
    margin-right:20px;
    margin-left:20px;
}

.cardBodyHidden {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 20px;
}