h5 {
  font-size: 13px;
}

h4 {
  font-size: 14px;
}

h3 {
  font-size: 14px;
}

.contained-modal-title-vcenter {
  font-size:14px;
}

h1 {
  font-size: 20px;
}

.searchForm {
  font-size:10px;
  width:97%
}

.searchGroup {
  font-size:10px
}

.searchBar {
  font-size:14px
}

.remove-confirm {
  font-size: 14px
}

.remove-confirm-button {
  font-size: 14px
}

.remove-confirm-button-text {
  font-size: 14px
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  padding:0px;
  width:100%;
}

.App {
  text-align: center;
  padding-left: 0px;
  padding-right: 20px;
  margin: 10px;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-responsive {
  font-size: 12px;
}

/*.accordion {*/
/*  height:10px*/
/*}*/
/*.card {*/
/*  height:50px;*/
/*}*/

.mgHeader {
  margin-top:-10px;
  margin-bottom:-10px;
}

/*.card-header {*/
/*  margin-top:-10px;*/
/*  margin-bottom:-10px;*/
/*}*/

.subCard {
  /*margin-top:-20px;*/
  margin-bottom:-14px;
}
.largeFont {
  font-size: 13px;
}

.extraMarginTop {
  margin-top:50px;
}

.linkDownload {
  font-size: 12px;
}