csle-base==0.7.4
csle-common==0.7.4
csle-agents==0.7.4
csle-cluster==0.7.4
csle-system-identification==0.7.4
csle-ryu==0.7.4
flask==2.2.2
flask-socketio==5.5.1
flask-cors==5.0.0
waitress==2.1.2
bcrypt==4.0.1
pyopenssl==22.1.0
eventlet==0.33.2
dnspython==2.2.1
gevent==22.10.2
paramiko==3.2.0
types-paramiko==3.2.0.0
requests==2.31.0
types-requests==2.31.0.1