.video-responsive {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 350px;
    width: 650px;
    position: center;
}