
.deltaAlertsRow {
    margin-top: 20px
}

.traceDropdownDemoLabel {
    display: inline;
}

.intrusionStateInfo{
    margin-top:40px
}

.defenderPolicyPlotSlider {
    margin-top:30px;
}

.defenderPolicyPlotSliderLabel {
    margin-top:22px;
}

.noIntrusion {
    color: darkgreen;
}

.intrusion {
    color: darkred;
}
