csle-base==0.7.4
csle-common==0.7.4
csle-collector==0.7.4
csle-cluster==0.7.4
csle-attacker==0.7.4
csle-defender==0.7.4
csle-system-identification==0.7.4
gym-csle-stopping-game==0.7.4
gym-csle-apt-game==0.7.4
gym-csle-cyborg==0.7.4
gym-csle-intrusion-response-game==0.7.4
csle-tolerance==0.7.4
stable-baselines3==2.0.0
pulp==2.7.0
bayesian-optimization==1.3.1
iteround==1.0.4
emukit==0.4.10
GPy==1.10.0
numpy==1.23.5
cma==3.3.0