
.headerTimestep {

}

.headerStops {
    margin-left: 100px;
}

.headerNextStop {
    margin-left: 100px;
}

.demoHeader{
    background-color: white;
    background: white;
}

.deltaAlertsRow {
    margin-top: 20px
}

.traceDropdownDemo {
    position: absolute;
    float:left
}

.traceDropdownDemoLabel {
    display: inline;
}

.intrusionStateInfo{
    margin-top:40px
}