
.navdropdownlink {
    font-weight: normal;
}
.Header {
    margin-bottom: 0px;
}

.shortCutT {
    font-weight: bold;
}

.mdp {
    margin-top: -40px;
    margin-left: -60px;
}

.timestepLabel {
    margin-right:20px;
}

.stopsRemainingLabel {
    margin-left:20px;
}

.nextStopLabel {
    margin-left: 20px;
}

.timeStepControls{
    position: absolute;
    float:left;
    margin-left:-30px;
    margin-top:5px;
    font-weight: bolder;
}

.timeStepControls2{
    position: absolute;
    float:left;
    margin-left:-50px;
    margin-top:50px;
    font-weight: bolder;
}

.timeStepControls3{
    position: absolute;
    float:left;
    margin-left:-50px;
    margin-top:80px;
    font-weight: bolder;
}

.navtabsheader {
    margin-top: 50px;
}

.navdropdownheader {
    font-weight: bolder;
    color: black !important;
}

#basic-nav-dropdown {
    color: black
}

.navtabheader {
    margin-left: 50px;
}

.navtablabel {
    font-weight: bolder;
    color: black !important;
}

.subtitle {
    font-style: italic;
}

.jumbotron {
    height:160px;
}

.title {
    margin-top: -30px !important;
    margin-bottom: 0px !important;
}

.traceDropdown {
    margin-top:-20px;
    margin-right:10px;
}

.traceDropdownDemo {
    position: absolute;
    float:left;
    margin-left:-30px;
    margin-top:-30px
}