.modelDescription {
    font-size: 22px;
}

.emptyText {
    margin-left:20px
}

.conditionalDist {
    display: inline-block;
}

.conditionalLabel {
    margin-right: 15px;
    margin-left:15px;
}

.metricLabel {
    margin-right: 15px;
    margin-left:15px;
}

.metricLabel {
    margin-left:15px;
    margin-right:15px;
}
.numSamples {
    margin-left: 20px;
}

.initialStateDist {
    margin-top: 75px
}

.cardHeaderDists  {
    font-weight: bold;
    color: black;
}