.startButton {
    margin-left:5px;
    font-size:4px;
}

.startStopIcon {
    font-size: 14px;
}

.toolTipRefresh {
    font-size: 14px;
}

.removeButton {
    margin-right:10px;
    margin-left:10px;
}

.cardBodyHidden {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 13px;
}

.elastic {
    width:25px;
}

.kafka {
    width:45px;
}

.beats {
    width:15px;
}

.openFlow {
    width:60px;
}