.greenCircle {
    margin-left: 10px;
    margin-right: 15px;
}

.trainingJobSeedR {
    margin-right:15px;
    display: inline-block;
}

.semiTitle2 {
    margin-top: 75px;
}
.seedRVal {
    margin-right:15px;
    display: inline-block;
}