.faSymbolLabel {
    margin-right: 10px;
}

.incResponse {
    margin-top: -30px;
}

.reasoning {
    margin-top: -20px;
}

.reasoningTitle {
    margin-top: -10px;
    white-space: pre-wrap;   /* keep \n but allow wrapping */
    word-break: break-word;  /* break long words/URLs if needed */
}

.shieldIcon {
    margin-top: -20px;
}

.incDetected {
    font-style: italic;
}

.incTitle {
    font-weight: bolder;
}

.incidentCheckbox {
    margin-left: -20px;
}

.analysisSpinner {
    margin-left: 30px;
    font-style: italic;
    color: gray;
}

.generateSpinner {
    margin-right: 15px;
}

.resetButton {
    margin-left: 20px
}

.planCard {
    margin-top: -58px;
}

.planDownloadButton {
    margin-left: 20px
}

.exampleSpinner {
    margin-right: 10px;
}