.sshTerminal {
    text-align: left;
}

.sshTerminal2 {
    text-align: left;
}

.containerTermImg {
    width:450px;
}

.connectButtonText {
    margin-left:20px;
}

.connectButton {
    font-size: 14px;
}