
.simulationTracesHeader {
    margin-top: 80px;
    margin-bottom:50px
}
.infoButton5 {
    outline:none
}

.emulationTracesHeader {
    margin-bottom:50px
}

.spinnerLabel {
    margin-right:60px
}

.traceTypeSelection {
    font-size: 14px;
}