.aboutText {
    font-size: 14px;
}

.publicationsTitle {
    margin-top: 20px
}

.boldSpan {
    font-weight: bolder;
}

.usersTable {
    font-size: 12px;
}

.configTable {
    font-size: 12px;
}

.saveUsersBtn {
    margin-left:20px;
    font-size: 10px;
}